* {
  box-sizing: border-box;
}
body {
  content-visibility: auto;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 112.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.overlay {
  height: calc(100vh-20px);
  overflow-y: hidden;
}
